@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
/* font-family: 'Lato', sans-serif; */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'lato';
}

ul,ol,li{
    list-style:none;
}

a{
    text-decoration: none;
    color:#fff;
}
body{
  width:100%;
  height:100vh;
  overflow:hidden;
  padding:5vh 5vw;
  perspective: 1200px;
}
button{
  font-family: 'lato';
}

/* header */

header{
  width:90vw;
  position: absolute;
  top:60px;
  left:5vw;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 2vw;
}

header ul{
  display: flex;
}

header ul li{
  font:bold 18px/1 'lato';
  color:#fff;
  letter-spacing: 1px;
  padding:2vh 3vw;
  cursor: pointer;
  opacity: 0.5;
  transition: 1s;
}

header ul li:first-child{
  padding-left:1vw;
}

@media only screen and (max-width:720px) {
  header ul li{
    font-size:13px;
  }
}

header ul li.on{
  opacity: 1;
}

/* 3d */

main{
  width:100%;
  height:100%;
  position:relative;
  z-index: 1;
  transform-style: preserve-3d;
  transition: 1s;
}

main.face1{
  transform: translateZ(-45vh) rotateX(0deg);
}
main.face2{
  transform: translateZ(-45vh) rotateX(-90deg);
}
main.face3{
  transform: translateZ(-45vh) rotateX(-180deg);
}
main.face4{
  transform: translateZ(-45vh) rotateX(-270deg);
}

main section{
  width:100%;
  height:100%;
  position: absolute;
  top:0px;
  left:0px;
  background: #19242C;
  opacity: 0.3;
  padding:10vh 3vw 5vh;
  z-index: 0;
  transition: opacity 2s;
  display: flex;
  flex-wrap: wrap;
  color:rgba(255,255,255,0.6);
}

main section.on {
  opacity:1;
  z-index: 1;
}

main section:nth-of-type(1){
  transform: rotateX(0deg) translateZ(45vh);
}

main section:nth-of-type(2){
  transform: rotateX(90deg) translateZ(45vh);
}

main section:nth-of-type(3){
  transform: rotateX(180deg) translateZ(45vh);
}

main section:nth-of-type(4){
  transform: rotateX(270deg) translateZ(45vh);
}

/* section styles */

/* home */
#home{
  align-items: center;
  justify-content: center;
}

#home .text{
  width:30vw;
  position: relative;
}

#home span{
  margin-left: 1px;
  font-size: 20px;
  font-weight: bolder;
  color:rgba(255,255,255,0.9);
  transition: all .3s ease-in-out;
}

#home h1{
  font-size: 50px;
  color:gold;
  text-shadow: 1px 2px 1px #000;
  margin:10px 0px;
  transition: all .3s ease-in-out;
  animation:appearH1 4s;
}

#home h2{
  font-size: 22px;
  margin-left: 1px;
  color:rgba(255,255,255,0.9);
  transition: all .3s ease-in-out;
}

#home button{
  border: 1px solid gold;
  background-color: transparent;
  border-radius: 2px;
  color:gold;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #000;
  width:fit-content;
  padding:15px 50px;
  margin-top:50px;
  font-size: 24px;
  cursor: pointer;
  animation: appearButton 2.5s ease-in;
}

#home button:hover{
  background-color: gold;
  color:#19242C;
  text-shadow: none;
  text-shadow: 1px 1px 1px #000;
}

@keyframes appearH1 {
  0%{
    opacity: 0;
  }
  50%{
    color:#19242C;
  }
  100%{
    opacity: 1;
  }
}

@keyframes appearButton {
  0%{
    opacity:0;
  }
  75%{
    background-color: gold;
    color:#19242c
  }
  100%{
    opacity:1;
  }
}

@media only screen and (max-width:1279px) {
  #home .text {
    padding-left: 1vw;
  }
  #home h1{
    font-size: 28px;
    text-shadow: 1px 1px 1px #000;
  }
  #home h2{
    font-size:16px;
  }
}


#home .imgWrap{
  width:30vw;
  position: relative;
  display: flex;
  align-items: center;
  height:100%;
}

#home .imgWrap .profile{
  position: absolute;
  width:100%;
  max-width: 800px;
  min-width: 500px;
  transition: all .3s ease-in-out;
  z-index: -1;
}

#home .imgWrap .shape1{
  position: absolute;
  z-index: -3;
  opacity: 0.2;
  width:100%;
  max-width: 800px;
  min-width: 300px;
  right:0;
  transition: all .3s ease-in-out;
}

#home .imgWrap .round1{
  position: absolute;
  z-index: -3;
  opacity: 0.05;
  width:50%;
  max-width: 800px;
  min-width: 250px;
  right:0;
  top:150px;
  transition: all 1s ease-in-out;
}
#home .imgWrap .round2{
  position: absolute;
  z-index: -3;
  opacity: 0.7;
  width:30%;
  max-width: 800px;
  min-width: 150px;
  right:190px;
  top:120px;
  transition: all 2s ease-in-out;
}



@media only screen and (max-width:1279px) {


  #home .imgWrap img{
    left:-150px;
  }
  
  #home .imgWrap .round1{
    opacity: 0.3;
    top:200px;
  }
  #home .imgWrap .round2{
    opacity: 0.3;
    top:50px;
  }
}


@media only screen and (max-width:500px) {

  #home .imgWrap .profile{
    min-width:200px;
    width: 250px;
    left:-80px;
    opacity: 0.5;

  }
}


/* about */


#about{
  justify-content: center;
}

#about .wrap{
  width:80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  max-width: 1280px;
}

#about .wrap .aboutLeft{
  display: flex;
  width:30%;
  align-items: center;
  justify-content: center;
  height:fit-content;
}

#about .wrap .aboutLeft h2{
  position: relative;
  display: inline-block;
  font-size: 40px;
  line-height: 1;
  height:50px;
  color:#ddd;
  text-shadow: -1px 1px 1px black;
  transition: all .3s ease-in-out;
}

#about .wrap .aboutLeft h2::after{
  content:'';
  position: absolute;
  bottom:-10px;
  left:0;
  width:85px;
  height:5px;
  border-bottom: 5px solid gold;
}

#about .wrap .aboutLeft .circle{
  position: absolute;
  bottom:-10px;
  left:-70px;
  width:250px;
  height:250px;
  border-radius: 50%;
  border:30px solid #E3C5A1;
  opacity: 0.3;
  z-index: -1;
  transition: all .5s ease-in-out;
}

#about .wrap .aboutRight{
  width:70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
}

#about .wrap .aboutRight .aboutRightTop{
  display: block;
  font-size: 18px;
  width:100%;
  overflow-wrap: break-word;
  letter-spacing: .5px;
  line-height: 1.2;
  margin-top: -80px;
  margin-bottom: 20px;
}


#about .wrap .aboutRight .aboutRightBottom strong{
  font-size: 18px;
  font-weight: bolder;
  display: block;
  margin-bottom: 20px;
}
#about .wrap .aboutRight .aboutRightBottom ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all .3s ease-in-out;
}

#about .wrap .aboutRight .aboutRightBottom ul li{
  display: flex;
  flex-direction: column;
  width:31%;
  padding: 5px 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: flex-start;
  transition: all .3s ease-in-out;
  border: 3px solid #7A4E20;
  border-radius: 5px;
}

#about .wrap .aboutRight .aboutRightBottom ul li img{
  width:60px;
  height:60px;
  transition: all .3s ease-in-out;
}

#about .wrap .aboutRight .aboutRightBottom ul li span{
  display: inline-block;
  width:100%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  color:#ddd;
  transition: all .3s ease-in-out;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

#about .wrap .aboutRight .aboutRightBottom ul li div{
  width:100%;
  display: flex;
  justify-content:flex-end;
  padding-right:3px;
}

#about .wrap .aboutRight .aboutRightBottom ul li i{
  margin-top: 20px;
  font-size: 60px;
}

#about .wrap .aboutRight .aboutRightBottom ul li .fa-sass{
color:pink;
}

#about .wrap .aboutRight .aboutRightBottom ul li .styledComponents{
  background-color: #fff;
  border-radius: 20%;
}

#about .wrap .aboutRight .aboutRightBottom ul li .fa-square{
  color:pink;
  }

#about .wrap .aboutRight .aboutRightBottom ul li .fa-js-square{
  color:gold;
}

#about .wrap .aboutRight .aboutRightBottom ul li .fa-react{
  color:skyblue;
}

#about .wrap .aboutRight .aboutRightBottom ul li .fa-exchange-alt{
  color:purple;
}

@media screen and (max-width:1279px) {

  #about .wrap{
    width:100%;
    justify-content: center;
  }

  #about .wrap .aboutLeft{
    display: flex;
    width:100%;
    justify-content: center;
    margin-bottom: -250px;
  }

  #about .wrap .aboutLeft h2 .circle{
    left:-23px;
  }

  #about .wrap .aboutLeft h2::after{
    width:100%;
  }

  #about .wrap .aboutRight{
    margin: 0px auto;
  }
  
  #about .wrap .aboutRight .aboutRightTop{
    font-size: 16px;
    line-height: 1;
    color:#ddd;
    margin-bottom: 10px;
  }

  #about .wrap .aboutRight .aboutRightBottom strong{
    font-size: 20px;
    margin-bottom: 10px;
  }

  #about .wrap .aboutRight .aboutRightBottom ul li{
    padding:2px 3px;
  }

  #about .wrap .aboutRight .aboutRightBottom ul li span{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bolder;
    color:#ddd;
  }

  #about .wrap .aboutRight .aboutRightBottom ul li img{
    width:30px;
    height:30px;
  }

  #about .wrap .aboutRight .aboutRightBottom ul li i{
    font-size: 30px;
  }
}

@media screen and (max-width:499px) {

  #about .wrap .aboutLeft h2{
    color: transparent;
    z-index:-2;
    font-size: 5px;
  }

  #about .wrap .aboutLeft h2 .circle{
    left:-100px;
    opacity: 0.1;
  }
  
  #about .wrap .aboutLeft h2::after{
    bottom:50px;
    opacity: .1;
  }

  #about .wrap .aboutRight{
    min-width: 0px;
  }

  #about .wrap .aboutRight .aboutRightTop{
    font-size: 12px;
  }

  #about .wrap .aboutRight .aboutRightBottom ul li span{
    font-size: 8px;
  }


}


/* Portfolio */


#portfolio{
  justify-content: center;
}

#portfolio .wrap{
  width:80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
}

#portfolio .wrap h2{
  position: relative;
  display: inline-block;
  font-size: 40px;
  line-height: 1;
  height:50px;
  color:#ddd;
  text-shadow: -1px 1px 1px black;
  transition: all .3s ease-in-out;
  margin-bottom: 130px;
}

#portfolio .wrap h2::after{
  content:'';
  position: absolute;
  bottom:-10px;
  left:0;
  width:85px;
  height:5px;
  border-bottom: 5px solid gold;
}


#portfolio .wrap .inner{
  width:100%;
  display: flex;
}

#portfolio .wrap .inner .article {
  position: relative;
  width:32%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  overflow:hidden;
}

#portfolio .wrap .inner .article:last-child {
  margin-right: none;
}
#portfolio .wrap .inner .article .imgWrap{
  width:100%;
  height:350px;
  overflow:hidden;
}

#portfolio .wrap .inner .article .imgWrap img{
  width: 630px;
}

#portfolio .wrap .inner .article .listBottom{
  position: absolute;
  top:92%;
  width:100%;
  height:30px;
  overflow-y: hidden;
  transition: all .3s ease-out;
  background-color: rgba(0,0,0,0.8);
}

#portfolio .wrap .inner .article .listBottom h3{
  color:#ddd;
  font-size: 23px;
  text-align: center;
  background: #000;
  transition: all .3s ease-in-out;
}

#portfolio .wrap .inner .article .listBottom ol{
  text-align: left;
  padding:10px 20px;
}

#portfolio .wrap .inner .article .listBottom p{
  width:100%;
  margin-top: 20px;
  overflow-wrap: break-word;
}

#portfolio .wrap .inner .article:hover .listBottom{
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#portfolio .wrap .inner .article:hover h3{
  background-color: rgba(0,0,0,0.5);
}


#portfolio .wrap .inner .article:hover .listBottom p{
  background-color: #000;
}

#portfolio .wrap .innerBottom{
  position: absolute;
  bottom:5vh;
  left: 10%;
  width:80%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 5px solid gold;
}

#portfolio .wrap .innerBottom a{
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  border-radius: 3px;
}


#portfolio .wrap .innerBottom a h4{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: all .3s ease-in-out;
}

#portfolio .wrap .innerBottom a .fa-github{
  display: inline-block;
  font-size: 50px;
  margin:0px 20px 0px 8px;
  height:48px;
  transition: all .3s ease-in-out;
}

#portfolio .wrap .innerBottom a .fa-chevron-right{
  display: inline-block;
  font-size: 30px;
  transition: all .3s ease-in-out;
}

#portfolio .wrap .innerBottom a:hover h4{
  transform: translateX(2px);  
}


#portfolio .wrap .innerBottom a:hover .fa-chevron-right{
transform: translateX(-5px);
}

#portfolio .wrap .innerBottom a:hover .fa-github{
  color:purple;
  background-color: white;
  border-radius: 50%;
}

@media screen and (max-width:1279px) {
  #portfolio .wrap{
    width:100%;
    margin-top:0px;
  }
  
  #portfolio .wrap .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #portfolio .wrap h2{
    margin-bottom: 60px;
    font-size: 25px;
  }
  
  #portfolio .wrap h2::after{
    bottom:10px;
  }
  
  #portfolio .wrap .inner .article {
    height: 250px;
    margin-bottom:10px;
    min-width: 400px;
    }

  
  #portfolio .wrap .inner .article .listBottom{
    top:88%;
  }

  #portfolio .wrap .inner .article .imgWrap img{
    width:500px;
  }
}

@media screen and (max-width:500px) {
  
  #portfolio .wrap h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  #portfolio .wrap .inner .article {
    height: 120px;
    margin-bottom:10px;
    min-width: 250px;
  }

  #portfolio .wrap .inner .article .imgWrap img{
    width:300px;
  }

  #portfolio .wrap .inner .article .listBottom{
    top:82%;
  }

  #portfolio .wrap .inner .article .listBottom h3{
    font-size: 14px;
  }

  #portfolio .wrap .inner .article .imgWrap img{
    width:500px;
  }

  #portfolio .wrap .innerBottom{
    bottom:3vh;
    border-bottom: 2px solid gold;
  }

  #portfolio .wrap .innerBottom a h4{
    margin-bottom: 5px;
  }

  #portfolio .wrap .innerBottom a h4 .fa-github{
    font-size: 20px;
    height:20px;
  }
  #portfolio .wrap .innerBottom a h4 .fa-chevron-right{
    font-size: 18px;
  }
}




/* contact */

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact .inner{
  width:80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact .inner .left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:45%;
  position: relative;
  min-width: 450px;
}

#contact .inner .left h2{  
  position: absolute;
  font-size: 50px;
  color:#ddd;
  top:25%;
  z-index: 2;
  transition: all .3s ease-in-out;
}

#contact .inner .left .leftBottom{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#contact .inner .left a{
  margin-top: 20px;
  font-size: 20px;
}

#contact .inner .left a:hover{
  color:gold;
  font-weight: bolder;
}

#contact .inner .left img{
  width:80%;
  min-width: 250px;
  opacity: 0.5;
  position: relative;
}


#contact .inner .right{
  width:45%;
  text-align: center;
  display: flex;
  align-items: center;
}

#contact .inner .right form{
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: space-around;
}

#contact .inner .right form input{
  background-color: transparent;
  border:none;
  color:#fff; 
  font-size: 18px;
  padding:10px 1px;
  border-bottom: 3px solid #6E7D86;
  margin-bottom: 20px;  
}

#contact .inner .right form input:focus{
  outline: none;
}

#contact .inner .right form input::placeholder{
  color:rgba(255,255,255,0.7);
}

#contact .inner .right form textarea{
  border:none;
  background-color:transparent;
  border-radius: 2px;
  color:#fff;
  border-bottom: 3px solid #6E7D86;
  font-size: 18px;
  padding:10px 3px;
  margin-bottom: 20px;  
  resize: none;
}

#contact .inner .right form textarea::placeholder{
  color:rgba(255,255,255,0.7);
}

#contact .inner .right form textarea:focus{
  outline: none;
}

#contact .inner .right .submit{
  border: none;
  width:100%;
  color:#19242C;
  background-color: gold;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 2px;
  padding:15px 2px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#contact .inner .right .submit:hover{
  transform: translateY(-2px);
  color:gold;
  background-color: transparent;
  outline: 2px solid gold;
  box-shadow: 1px 1px 2px #000;
}


@media screen and (min-width:1680px) {
  
  #contact .inner .left h2{  
    font-size: 70px;
  }
}

@media screen and (max-width:1279px) {
  #contact .inner .left{
    width:100%;
  }
  #contact .inner .left{
    width:50%;
    margin: 0px auto;
  }

  #contact .inner .right{
    width:100%;
  }
}

@media screen and (max-width:719px){

  #contact .inner .left h2{  
    top:30%;
    font-size: 40px;
  } 
  
  #contact .inner .left{
    width:100%;
  }

  #contact .inner .left form input{
    font-size: 12px;
  }
  #contact .inner .left form textarea{
    font-size: 12px;
  }
  #contact .inner .left img{
    min-width: 150px;
  }
}


@media screen and (max-width:500px) {
  
  #contact .inner .left{
    position: absolute;
    min-width: 150px;
    top:30%;
    left:1%;  
  }

  #contact .inner .left img{
    opacity: 0.1;
    min-width: 200px;
  }

  #contact .inner .left a{
    position: absolute;
    display:block;
    right:-40px;
    bottom:-25vh;
  }
  
  #contact .inner .left h2{  
    color:transparent;
  } 
  
}